<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<main>
  <nav sidenav>
    <ul>
      <li selected>
        <a (click)="setTitle('Home')">
          <fa-icon class="nav-icon" [icon]="faHouse"></fa-icon>

          <p class="nav-link-text">Home</p>
        </a>
      </li>
      <li>
        <a (click)="setTitle('Messages')">
          <fa-icon class="nav-icon" [icon]="faMessage"></fa-icon>

          <p class="nav-link-text">Messages</p>
        </a>
      </li>
      <li>
        <a (click)="setTitle('Notifications')">
          <fa-icon class="nav-icon" [icon]="faBell"></fa-icon>

          <p class="nav-link-text">Notifications</p>
        </a>
      </li>
    </ul>
  </nav>
  <nav topnav>topnav</nav>
  <nav logonav>Logo</nav>
  <content>
    <div class="cover-banner">
      <img
        src="https://images.unsplash.com/photo-1634017839464-5c339ebe3cb4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format"
        alt=""
        srcset=""
        class="banner-img"
      />
      <div class="cover-container">
        <h1 class="cover-text">
          You can trust us with your choice of housing 🏠
        </h1>
        <div class="button-container">
          <button>Modern</button>
          <button>Convenient</button>
          <button>Low prices</button>
        </div>
      </div>
    </div>
    <div class="tags">
      <button primary><p>😎 All</p></button>
      <button><p>😝 Popular</p></button>
      <button><p>😄 Recommended</p></button>
      <button><p>⏱️ Nearest</p></button>
    </div>
    <div class="property-box">
      <img
        src="https://images.unsplash.com/photo-1568605114967-8130f3a36994?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
        alt=""
        srcset=""
        class="property-image"
      />
      <h2 class="property-price">$123.45<span class="range">/ Month</span></h2>
      <p class="property-desc">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Et odit ipsa
        illum, itaque, ipsum blanditiis fugiat necessitatibus deleniti similique
        deserunt tenetur repudiandae atque, architecto asperiores quod enim
        dolore temporibus aliquam?
      </p>
      <p class="property-size">2 beds - 2 bedrooms</p>
    </div>
    <div class="property-box">
      <img
        src="https://images.unsplash.com/photo-1568605114967-8130f3a36994?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
        alt=""
        srcset=""
        class="property-image"
      />
      <h2 class="property-price">$123.45<span class="range">/ Month</span></h2>
      <p class="property-desc">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Et odit ipsa
        illum, itaque, ipsum blanditiis fugiat necessitatibus deleniti similique
        deserunt tenetur repudiandae atque, architecto asperiores quod enim
        dolore temporibus aliquam?
      </p>
      <p class="property-size">2 beds - 2 bedrooms</p>
    </div>
    <div class="property-box">
      <img
        src="https://images.unsplash.com/photo-1568605114967-8130f3a36994?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
        alt=""
        srcset=""
        class="property-image"
      />
      <h2 class="property-price">$123.45<span class="range">/ Month</span></h2>
      <p class="property-desc">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Et odit ipsa
        illum, itaque, ipsum blanditiis fugiat necessitatibus deleniti similique
        deserunt tenetur repudiandae atque, architecto asperiores quod enim
        dolore temporibus aliquam?
      </p>
      <p class="property-size">2 beds - 2 bedrooms</p>
    </div>
    <div class="property-box">
      <img
        src="https://images.unsplash.com/photo-1568605114967-8130f3a36994?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
        alt=""
        srcset=""
        class="property-image"
      />
      <h2 class="property-price">$123.45<span class="range">/ Month</span></h2>
      <p class="property-desc">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Et odit ipsa
        illum, itaque, ipsum blanditiis fugiat necessitatibus deleniti similique
        deserunt tenetur repudiandae atque, architecto asperiores quod enim
        dolore temporibus aliquam?
      </p>
      <p class="property-size">2 beds - 2 bedrooms</p>
    </div>
    <div class="property-box">
      <img
        src="https://images.unsplash.com/photo-1568605114967-8130f3a36994?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
        alt=""
        srcset=""
        class="property-image"
      />
      <h2 class="property-price">$123.45<span class="range">/ Month</span></h2>
      <p class="property-desc">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Et odit ipsa
        illum, itaque, ipsum blanditiis fugiat necessitatibus deleniti similique
        deserunt tenetur repudiandae atque, architecto asperiores quod enim
        dolore temporibus aliquam?
      </p>
      <p class="property-size">2 beds - 2 bedrooms</p>
    </div>
  </content>
</main>
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<!-- <router-outlet></router-outlet> -->
